<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Добавить работника</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>

    <style>

        .bblock-main{
            float: left;
            width: 40px;
            margin-right: 30px;

        }

        .wrap {
            width: 1300px;
            height: 90px;

        }

        .bblock {
            float: left;
            width: 250px;
            margin-right: 20px;
        }
        .wrap :last-child {
            margin-right: 0px;
        }
    </style>

</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="height: 80px;background-color: #007bff">
        <a class="navbar-brand" href="/adminportal">MyCityTaxi Admin</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/adminportal">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminportal/personnel">Управление персоналом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminportal/transport">Управление транспортом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminportal/categories">Управление услугами</a>
                </li>
                <li class="nav-item" style="margin-left: 450px">
                    <a class="nav-link" href="/adminportal/signout">{{employeeName}}</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

<h1 style="margin-left: 50px;margin-top: 20px;margin-bottom: 20px">Список сотрудников</h1>

<div class="wrap" style="margin-top: 30px">
    <div class="bblock">
        <div style="margin-left: 50px;">
            <a href="/adminportal/personnel/createworker">
                <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;">Добавить сотрудника</button>
            </a>
        </div>
    </div>

    <div class="bblock" style="margin-left: 100px;height: 400px;width: 700px;float: left">
        <table width="100%" class="scrollTable table table-sm ">
            <thead class="fixedHeader thead-light">
            <tr>
                <th>Логин</th>
                <th>Полное имя</th>
                <th>Должность</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody class="scrollContent">
            {{#personnelList}}
                <tr>
                    <td>{{login}}</td>
                    <td>{{fullName}}</td>
                    <td>{{#personnelProfession}}{{positionName}}{{/personnelProfession}}</td>
                    <td>
                        <a href="/adminportal/personnel/worker?personnelID={{personnelID}}">
                        <button class="btn btn-lg btn-primary btn-block" >Перейти</button>
                        </a>
                    </td>
                </tr>
            {{/personnelList}}

            </tbody>
        </table>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>