<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Главная страница</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
    <style>
        .d{font-size: 80px;margin-left: 100px;color: snow}
        .z{max-width:45rem;padding-top:2.2rem;font-size: 30px;margin-left: 100px;color: snow}
        .ch_button{padding-top:2rem;margin-left: 100px}
        .ch_button button{height:4.7rem;width: 400px;font-size:1.5rem;padding:0 3rem;border-radius:2px}
    </style>

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
   <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->


    <script type="text/javascript">

        function loadStatistics()
        {
            var xData=document.getElementById("xAxis");
            var yData=document.getElementById("yAxis");

            var x=xData.innerText.split(",");
            var y=yData.innerText.split(",");

            alert("dfd");


        }

        new Chartist.Line('#chart1', {
            labels: ['День 1', 'День 2', 'День 3', 'День 4', 'День 5'],
            series: [
                [12, 9, 3, 8, 4],
                [2, 1, 4.7, 5.5, 8]
            ]
        }, {
            fullWidth: true,
            chartPadding: {
                right: 50
            }
        });


    </script>

</head>
<body onload="loadStatistics()">

<!--<div id="container" class="chart_wrap"></div>-->

<div class="ct-chart ct-golden-section" id="chart1"></div>




<b id="xAxis" hidden>{{xAxis}}</b>
<b id="yAxis" hidden>{{yAxis}}</b>




<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
-->

<script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>