<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Добавить работника</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>

    <style>

        .bblock-main{
            float: left;
            width: 40px;
            margin-right: 30px;

        }

        .wrap {
            /*width: 1300px;*/
            width: 800px;
            height: 90px;

        }

        .bblock {
            float: left;
            width: 250px;
            margin-right: 20px;
        }
        .wrap :last-child {
            margin-right: 0px;
        }
    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="height: 80px;background-color: #007bff">
        <a class="navbar-brand" href="/adminportal">MyCityTaxi Admin</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/adminportal">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminportal/personnel">Управление персоналом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminportal/transport">Управление транспортом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminportal/categories">Управление услугами</a>
                </li>
                <li class="nav-item" style="margin-left: 450px">
                    <a class="nav-link" href="/adminportal/signout">{{employeeName}}</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

{{#personnel}}
<h1 style="margin-left: 50px;margin-top: 20px;margin-bottom: 20px">Профиль сотрудника {{login}}</h1>
{{/personnel}}

    <ul class="nav nav-tabs" style="margin-left: 50px;margin-bottom: 20px;">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#description">Описание</a>
        </li>
        {{#isHaveDriverLicense}}
        <li class="nav-item" id="driverData">
            <a class="nav-link" data-toggle="tab" href="#characteristics">Характеристики</a>
        </li>
        {{/isHaveDriverLicense}}
    </ul>


    <div class="tab-content" style="width: 1000px; float: left;" >

        <div class="tab-pane fade show active" id="description" style="margin-left: 50px">
            <div class="wrap">
                <div class="bblock">
                    <label>Фамилия</label>
                    <div class='bblock' style="height: 40px;font-size: 30px">{{lname}}</div>
                </div>
                <div class="bblock">
                    <label>Имя</label>
                    <div class='bblock' style="height: 40px;font-size: 30px">{{name}}</div>
                </div>
                <div class="bblock">
                    <label >Отчество</label>
                    <div class='bblock' style="height: 40px;font-size: 30px">{{mname}}</div>
                </div>

            </div>
            {{#personnel}}
            <div class="wrap">

                <div class="bblock" style="width: 150px">
                    <label>Дата рождения</label>
                    <div class='bblock' style="height: 40px;width: 150px;font-size: 30px">{{dateOfBirth}}</div>
                </div>
                <div class="bblock">
                    <label >Место рождения</label>
                    <div class='bblock' style="height: 40px;width: 700px;font-size: 30px">{{placeOfBirth}}</div>
                </div>


            </div>
            <div class="wrap">

                <div class="bblock" style="width: 150px">

                    <label>Номер пасспорта</label>
                    <div class='bblock' style="height: 40px;width: 150px;font-size: 30px">{{passportID}}</div>

                </div>
                <div class="bblock">
                    <label>Адрес проживания</label>
                    <div class='bblock' style="height: 40px;width: 700px;font-size: 30px">{{address}}</div>
                </div>

            </div>
            <div class="wrap">
                <div class="bblock">
                    <label>Степень образования</label>
                    <div class='bblock' style="height: 40px;font-size: 30px">{{educationDegree}}</div>
                </div>
                <div class="bblock">

                    <label>Должность</label>
                    <div class='bblock' style="height: 40px;font-size: 30px">{{#personnelProfession}}{{positionName}}{{/personnelProfession}}</div>
                </div>


            </div>
                <div class="wrap">

                    <div class="bblock">

                        <label>Номер телефона(рабочий)</label>
                        <div class='bblock' style="height: 40px;font-size: 30px">{{phoneNumber}}</div>

                    </div>

                    <div class="bblock">
                        <label>Пароль</label>
                        <div class='bblock' style="height: 40px;font-size: 30px">{{password}}</div>
                    </div>
                </div>

            {{/personnel}}
        </div>
        {{#isHaveDriverLicense}}
        <div class="tab-pane fade" id="characteristics" style="margin-left: 50px">
            {{#personnel}}
                {{#driverData}}
            <div class="wrap">
                <div class="bblock" >
                    <label>Номер лиценции</label>
                    <div class='bblock' style="height: 40px;font-size: 30px">{{licenseNum}}</div>
                </div>
                <div class="bblock">
                    <label>Лицензия выдана</label>
                    <div class='bblock' style="height: 40px;width: 320px;font-size: 30px" >{{licenseIssuedBy}}</div>
                </div>



            </div>
            <div ><h4>Категория прав</h4></div>
            <div class="wrap">

                <div class='bblock' style="height: 40px;width: 320px;font-size: 30px">{{licenseCategory}}</div>

            </div>
            <div class="wrap">
                <div class="bblock">

                    <label>Лицензия действительна до</label>
                    <div class='bblock' style="height: 40px;width: 150px;font-size: 30px">{{licenseValidUntil}}</div>

                </div>
                <div class="bblock">

                    <label>Медосмотр действителен до</label>
                    <div class='bblock' style="height: 40px;width: 150px;font-size: 30px">{{medExValidUntil}}</div>

                </div>

            </div>
                {{/driverData}}
            {{/personnel}}

            <div class="wrap">
                <div class="bblock">
                    <label>Назначенный транспорт</label>
                    <div class='bblock' style="height: 40px;width: 150px;font-size: 30px">{{carData}}</div>
                </div>
            </div>

        </div>
    {{/isHaveDriverLicense}}

    </div>

    <div style="margin-left: 150px;height: 370px;width: 200px;float: left;">
        {{#personnel}}
        <div style="margin-bottom: 20px">
            <a href="/adminportal/personnel/modifyemployee?personnelID={{personnelID}}">
                <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;">Изменить запись</button>
            </a>

        </div>
        <div>
            <a href="/adminportal/personnel/deleteemployee?personnelID={{personnelID}}">
                <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;">Удалить запись</button>
            </a>
        </div>
        {{/personnel}}
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
