<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Главная страница </title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
    <style>
        .d{font-size: 80px;margin-left: 100px;color: snow}
        .z{max-width:45rem;padding-top:2.2rem;font-size: 30px;margin-left: 100px;color: snow}
        .ch_button{padding-top:2rem;margin-left: 100px}
        .ch_button button{height:4.7rem;width: 400px;font-size:1.5rem;padding:0 3rem;border-radius:2px}
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="height: 80px;background-color: #007bff">
        <a class="navbar-brand" href="/adminportal">MyCityTaxi Admin</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#isAdmin}}<!--/adminportal/statistics /adminportal/personnel /adminportal/transport /adminportal/categories-->
                <li class="nav-item">
                    <a class="nav-link" href="{{statLink}}">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{perLink}}">Управление персоналом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{tranLink}}">Управление транспортом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{catLink}}">Управление услугами</a>
                </li>
                {{/isAdmin}}
                {{#isntAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{cabLink}}">Управление заказами</a>
                    </li>
                {{/isntAdmin}}
                {{#isAdmin}}
                <li class="nav-item" style="margin-left: 450px">
                    <a class="nav-link" href="/adminportal/signout">{{employeeName}}</a>
                </li>
                {{/isAdmin}}
                {{#isntAdmin}}
                <li class="nav-item" style="margin-left: 900px">
                    <a class="nav-link" href="/adminportal/signout">{{employeeName}}</a>
                </li>
                {{/isntAdmin}}

            </ul>
        </div>
    </nav>
</div>


<div style="background-image: url(/img/wallpapersden.com_man-smile-laptop_2560x1440.jpg); background-size: 1536px 1000px;height: 670px">
    <div>
        <h1 class="d" style="color: black">СОЗДАЁМ<br>ЛУЧШИЙ ГОРОД            </h1>
        <h2 class="z" style="color: black">
            Вклад каждого из нас помогает улучшать
            наш город, делая его более удобным и
            эффективным. Помните об этом!
        </h2>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>