<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Информация о категории услуг </title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
    <link rel="stylesheet" href="/css/admincss.css" type='text/css'>

</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="height: 80px;background-color: #007bff">
        <a class="navbar-brand" href="/adminportal">MyCityTaxi Admin</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#isAdmin}}<!--/adminportal/statistics /adminportal/personnel /adminportal/transport /adminportal/categories-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{statLink}}">Статистика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{perLink}}">Управление персоналом</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{tranLink}}">Управление транспортом</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{catLink}}">Управление услугами</a>
                    </li>
                {{/isAdmin}}
                {{#isntAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{cabLink}}">Управление заказами</a>
                    </li>
                {{/isntAdmin}}
                <li class="nav-item" style="margin-left: 450px">
                    <a class="nav-link" href="/adminportal/signout">{{employeeName}}</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

{{#service}}
    <h1 style="margin-left: 50px;margin-top: 20px;margin-bottom: 20px">{{serviceName}}</h1>
{{/service}}

<div style="margin-left: 50px;width: 840px; float: left;">

        <div class="wrap">

            <div class="bblock" >
                <label>{{priceTitle}}</label>
                <div class='bblock' style="height: 40px;font-size: 30px">{{servicePrice}} {{currency}}</div>
            </div>

        </div>
    {{#isServicesDataPresent}}

        {{#servicesData}}
        <div class="wrap">

            <div class="bblock" >
                <label>Время выполнения</label>
                <div class='bblock' style="height: 40px;font-size: 30px">{{completionTime}} чел./час</div>
            </div>

            <div class="bblock" >
                <label>Гарантия</label>
                <div class='bblock' style="height: 40px;font-size: 30px">{{guaranteeTime}} мес.</div>
            </div>

        </div>
        {{/servicesData}}

    {{/isServicesDataPresent}}

{{#service}}

        <div class="wrap">
            <div class="bblock">
                <label>Описание</label>
                <div class='bblock' style="width: 800px;height: 75px;font-size: 30px">{{serviceDescription}}</div>
            </div>

        </div>

{{/service}}

    </div>


{{#service}}
<div style="margin-left: 150px;height: 370px;width: 200px;float: left;">
    <div style="margin-bottom: 20px">
        <a href="/adminportal/categories/category/service/updateservice?servicesID={{servicesID}}">
        <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;">Изменить запись</button>
        </a>

    </div>
    <div>
        <a href="/adminportal/categories/category/service/deleteservice?servicesID={{servicesID}}">
        <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;">Удалить запись</button>
        </a>
    </div>
</div>

{{/service}}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>