<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Добавить работника</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
    <!--<link href="signin.css" rel="stylesheet">-->

    <style>

        .bblock-main{
            float: left;
            width: 40px;
            margin-right: 30px;

        }

        .wrap {
            width: 1300px;
            height: 90px;

        }

        .bblock {
            float: left;
            width: 250px;
            margin-right: 20px;
        }

        .wrap :last-child {
            margin-right: 0px;
        }

        .wrap_foto{
            width: 1300px;
            height: 200px;
        }

        .bblock_foto {
            float: left;
            width: 416px;
            margin-right: 20px;
        }

        .wrap_foto :last-child{
            margin-right: 0px;
        }
    </style>

</head>
<body>
{{#service}}
    <h1 style="margin-left: 50px;margin-top: 20px;margin-bottom: 20px">{{serviceName}}</h1>
{{/service}}



<div style="margin-left: 50px;width: 840px; float: left;">

        <div class="wrap">

            <div class="bblock" >
                <!--<label for="cnm" >Регистрационный номер</label>
                <input type='text' id='cnm' class='form-control bblock' style="height: 40px;text-align: center" name='crnum' required>-->
                <label>{{priceTitle}}</label>
                <div class='bblock' style="height: 40px;font-size: 30px">{{servicePrice}} {{currency}}</div>
            </div>

        </div>
    {{#isServicesDataPresent}}

        {{#servicesData}}
        <div class="wrap">

            <div class="bblock" >
                <!--<label for="cnm" >Регистрационный номер</label>
                <input type='text' id='cnm' class='form-control bblock' style="height: 40px;text-align: center" name='crnum' required>-->
                <label>Время выполнения</label>
                <div class='bblock' style="height: 40px;font-size: 30px">{{completionTime}} чел./час</div>
            </div>

            <div class="bblock" >
                <!--<label for="cnm" >Регистрационный номер</label>
                <input type='text' id='cnm' class='form-control bblock' style="height: 40px;text-align: center" name='crnum' required>-->
                <label>Гарантия</label>
                <div class='bblock' style="height: 40px;font-size: 30px">{{guaranteeTime}} мес.</div>
            </div>

        </div>
        {{/servicesData}}

    {{/isServicesDataPresent}}

{{#service}}
        <div class="wrap">
            <div class="bblock">
                <!--<label for="cn" >Номер кузова</label>
                <input type='text' id='cn' class='form-control bblock' style="height: 40px;" name='ccn' required>-->
                <label>Описание</label>
                <div class='bblock' style="width: 800px;height: 75px;font-size: 30px">{{serviceDescription}}</div>

            </div>

        </div>


        <!--<div class="wrap">

            <div class="bblock" style="width: 150px">
                <label for="cn" >Номер кузова</label>
                <input type='text' id='cn' class='form-control bblock' style="height: 40px;width: 150px" name='lname' required>

            </div>
            <div class="bblock">
                <label for="en" >Номер двигателя</label>
                <input type='text' id='en' class='form-control bblock' style="height: 40px;width: 320px" name='lname' required>

            </div>

        </div>-->
{{/service}}

    </div>


{{#service}}
<div style="margin-left: 150px;height: 370px;width: 200px;float: left;">
    <div style="margin-bottom: 20px">
        <a href="/adminportal/transport/modifytransport?servicesID={{servicesID}}">
        <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;">Изменить запись</button>
        </a>

    </div>
    <div>
        <a href="/adminportal/transport/deletetransport?servicesID={{servicesID}}">
        <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;">Удалить запись</button>
        </a>
    </div>
</div>

{{/service}}


<!--<div style="margin-left: 50px;margin-top: 30px">
    <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;" type="submit" >Добавить</button>
</div>-->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>