<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Добавить работника</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>

    <style>

        .bblock-main{
            float: left;
            width: 40px;
            margin-right: 30px;

        }

        .wrap {
            width: 1300px;
            height: 90px;

        }

        .bblock {
            float: left;
            width: 250px;
            margin-right: 20px;
        }
        .wrap :last-child {
            margin-right: 0px;
        }
    </style>

    <script>

        var fileReader=new FileReader();

        fileReader.onload=function (event)
        {
            var dataUri = event.target.result;

            var foto=document.getElementById("foto");

            foto.src=dataUri;

        }

        function fotoLoader()
        {
            var fotoElement=document.getElementById("fl");
            var listOfFiles=fotoElement.files;

            if(listOfFiles.length!=0)
            {
                fileReader.readAsDataURL(listOfFiles[0]);
            }

        }

    </script>

</head>
<body onload="fotoLoader()">

<!--
Shapka!!!
-->

<h1 style="margin-left: 50px;margin-top: 20px;margin-bottom: 20px">Добавить услугу</h1>

<form class="form-signin" method="POST" enctype="multipart/form-data" action="/adminportal/categories/category/service/create" >

    <ul class="nav nav-tabs" style="margin-left: 50px;margin-bottom: 20px">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#description">Основная информация</a>
        </li>
    </ul>


    <div class="tab-content" style="margin-left: 50px;width: 700px; float: left;" >
        <div class="tab-pane fade show active" id="description" style="margin-left: 50px">
            <div class="wrap">
                <div class="bblock">
                    <label for="sn" >Название</label>
                    <input type='text' id='sn' class='form-control bblock' style="height: 40px" name='sn' required>
                </div>
            </div>

            <div class="wrap">
                <div class="bblock">
                    <label for="prs" >Цена (общ./за км.)</label>
                    <input type="number" name="prs" id="prs" min="1" step="0.5" class='form-control bblock' style="height: 40px" required>
                </div>
            </div>

            <div class="wrap">
                <div class="bblock" style="width: 160px">
                    <label for="gur" >Гарантия (мес.)</label>
                    <input type="number" name="gur" id="gur" min="6" max="60" value="6" class='form-control bblock' style="width: 140px;height: 40px" required>

                </div>

                <div class="bblock" >
                    <label for="comt">Время выполнения (чел./час.)</label>
                    <input type="number" name="comt" id="comt" min="0.5" max="3" step="0.5" value="0.5" class='form-control bblock' style="width: 200px;height: 40px" required>

                </div>

            </div>

            <div class="wrap" style="height: 150px">

                <div class="bblock" style="width: 150px">
                    <label for="desc" >Описание</label>
                    <textarea name="desc" id="desc" class='form-control bblock' style="width: 384px" maxlength="100" cols="35" rows="3" required></textarea>
                </div>

            </div>




            <div style="margin-top: 30px">
                <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;" name="categ" value="{{category}}" type="submit" >Добавить</button>
            </div>



        </div>
    </div>


    <div style="margin-right: 400px;height: 370px;width: 200px;float: left;">
        <div style="margin-bottom: 20px">
            <div class="bblock" style="width: 150px">
                <label for="fl" >Фото</label>
                <input id="fl" name="fto" type="file" class='form-control bblock' onchange="fotoLoader()" required>
                <img alt="Foto" src="" id="foto" style="width: 416px;height: 390px;margin-top: 20px">
            </div>

        </div>
    </div>

</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>