<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Расписание</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/timetablecss.css' type='text/css' media='all'>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="height: 80px;background-color: #007bff">
    <a class="navbar-brand" href="/">MyCityTaxi</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Компания</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/CategoriesMenu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Услуги
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/CategoriesMenu">Категории услуг</a>
                    <div class="dropdown-divider"></div>
                    {{#categories}}
                        <a class="dropdown-item" href="/SubcategoriesMenu?id={{serviceCategoryID}}">{{serviceCategoryName}}</a>
                    {{/categories}}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/CategoriesMenu" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Перевозки
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#transportSubcategories}}
                        <a class="dropdown-item" href="transportPage?id={{servicesID}}&name={{serviceName}}">{{serviceName}}</a>
                    {{/transportSubcategories}}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MainTimetableMenu">Расписание</a>
            </li>
            <li class="nav-item" style="margin-left: 750px">
                <a class="nav-link" href="{{authEntLink}}">{{authEntLinkName}}</a>
            </li>

        </ul>
    </div>
</nav>

<div style="margin-left: 420px">
    <h1>Расписание маршрутного транспорта</h1>
</div>
<div class="transport-type-wrapper">
    <div class="transport-route">
        <ul class="hexagon-container">
            {{#routesList}}
           <li class='hexagon'><a class='link' href='/Route?routeID={{routeID}}' title='Расписание {{routeNumber}} автобуса Гродно'><span><b>{{routeNumber}}</b></span></a></li>
            {{/routesList}}
        </ul>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>