.bblock-main{
    float: left;
    width: 40px;
    margin-right: 30px;

}

.wrap {
    width: 1300px;
    height: 90px;

}

.bblock {
    float: left;
    width: 250px;
    margin-right: 20px;
}

.wrap :last-child {
    margin-right: 0px;
}

.wrap_foto{
    width: 1300px;
    height: 200px;
}

.bblock_foto {
     float: left;
     width: 416px;
     margin-right: 20px;
 }

.wrap_foto :last-child{
      margin-right: 0px;
  }
