<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCityTaxi | Статистика предприятия </title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="/js/StatisticsMenuWebsocket.js"></script>

    <style>
        .wrap {
            width: 800px;
            height: 90px;

        }

        .bblock {
            float: left;
            /*width: 250px;*/
            margin-right: 30px;
        }
        .wrap :last-child {
            margin-right: 0px;
        }
    </style>

</head>
<body onload="onRefresh()" >

<!--<p id="initx1" hidden></p>
<p id="inity1" hidden></p>
<p id="initx2" hidden></p>
<p id="inity2" hidden></p>-->

<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="height: 80px;background-color: #007bff">
        <a class="navbar-brand" href="/adminportal">MyCityTaxi Admin</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#isAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{statLink}}">Статистика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{perLink}}">Управление персоналом</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{tranLink}}">Управление транспортом</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{catLink}}">Управление услугами</a>
                    </li>
                {{/isAdmin}}
                {{#isntAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{cabLink}}">Управление заказами</a>
                    </li>
                {{/isntAdmin}}
                <li class="nav-item" style="margin-left: 450px">
                    <a class="nav-link" href="/adminportal/signout">{{employeeName}}</a>
                </li>

            </ul>
        </div>
    </nav>
</div>


<div class="">

    <!--//////////////////////////////-->
    <div class="wrap" style="margin-top: 40px;margin-left: 100px;height: 15px">

        <div class="">
            <h2>Сфера</h2>
            <div>
                <div>
                    <input id="gd" name="scale" type="radio" value="gen" onclick="showScopeSelectionMenus(0)" checked>
                    <label for="gd">Общие данные</label>
                </div>
                <div>
                    <input id="sc" name="scale" type="radio" value="cat"  onclick="showScopeSelectionMenus(1)">
                    <label for="sc">По категориям услуг</label>
                </div>
                <!--<div>
                    <input id="ss" name="scale" type="radio" value="serv"  onclick="showScopeSelectionMenus(2)">
                    <label for="ss">По услугам</label>
                </div>-->
            </div>

            <div id="menucont">
                <div id="ctgr" hidden>
                    <label for="ctg">Категории</label>
                    <select id="ctg">
                    </select>
                </div>
                <!--<div id="srvs" hidden>
                    <label for="srv">Услуги</label>
                    <select id="srv">
                    </select>
                </div>-->
            </div>
        </div>

        <div class="">

            <h2>Период</h2>

            <div id="periodselector">
                <label for="period">Период</label>
                <select id="period" onchange="changePeriodMenu()">
                    <option value="week">Неделя</option>
                    <option value="month">Месяц</option>
                    <option value="year">Год</option>
                </select>
            </div>

            <div id="periodrangeoptions">
                <div>
                    <input id="cp" name="period" type="radio" value="pres" onclick="showPeriodSelectionMenus(0)" checked>
                    <label id="cpl" for="cp">Текущий период</label></td>
                </div>
                <div>
                    <input id="pp" name="period" type="radio" value="prev"  onclick="showPeriodSelectionMenus(1)">
                    <label id="ppl" for="pp">Предыдущий период</label></td>
                </div>
                <div>
                    <input id="sp" name="period" type="radio" value="manual"  onclick="showPeriodSelectionMenus(2)">
                    <label for="sp">Задать период</label></td>
                </div>
            </div>

            <div id="menucont1">
                <div id="year" hidden>
                    <label for="yr">Год</label>
                    <select id="yr">
                    </select>
                </div>
                <div id="month" hidden>
                    <label for="mth">Месяц</label>
                    <select id="mth">
                        <option value="1">Январь</option>
                        <option value="2">Февраль</option>
                        <option value="3">Март</option>
                        <option value="4">Апрель</option>
                        <option value="5">Май</option>
                        <option value="6">Июнь</option>
                        <option value="7">Июль</option>
                        <option value="8">Август</option>
                        <option value="9">Сентябрь</option>
                        <option value="10">Октябрь</option>
                        <option value="11">Ноябрь</option>
                        <option value="12">Декабрь</option>
                    </select>
                </div>
            </div>

        </div>


        <div>
            <div>
                <h2>Данные</h2>
                <div>
                    <input id="iae" name="value" type="radio" value="inc" checked>
                    <label for="iae">Доходы и расходы</label>
                </div>
                <div>
                    <input id="noo" name="value" type="radio" value="number">
                    <label for="noo">Количество заказов</label>
                </div>
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block" style="width: 230px;height:80px;margin-top: 30px" onclick="sendRequest()">Найти</button>
            </div>
        </div>

    </div>

    <div class="ct-chart ct-perfect-fourth" style="margin-left: 480px;width: 900px;height: 500px;background-color: darkgrey"></div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>